<!DOCTYPE html>
<html>
<head>
  <title>rentalsystem</title>
</head>
<body>
  <h2>"Your Rented Home"</h2>
  <section class="container1">
    <div class="wrapper">
      <div class="box">
        <h3>Title(Status:Pending)</h3>
        <img src="assets/usericon.png">
        <div class="content">
          <h4>Hii Iam Venkata Ramulu</h4>
          <p><b>Rent:</b> 1200/Month</p>
          <p><b>Contact:</b> 9847630221</p>
          <b>Address:</b><address>1-51B,Sulturu Vijayawada</address>
        </div>
        <div class="userdetail">
          <img src="assets/usericon.png"><a href="#">User Details</a>
        </div>
        <div class="edit">
          <button>AddImage</button>
          <button>EditDetails</button>
          <button>Delete</button>
        </div>
      </div>
    </div>
  </section>
</body>
</html>