<!DOCTYPE html>
<html>
<head>
  <title>searchroom</title>
</head>
<body>
  <section class="container">
    <div class="houseupload">
      <h2>SEARCH FORM</h2>
      <div class="form">
        <div class="formfield">
          <label>State</label>
          <select [(ngModel)]="state" name="State">
            <option>Andhra Pradesh</option>
            <option>Arunachal Pradesh</option>
            <option>Assam</option>
            <option>Bihar </option>
            <option>Chhattisgarh</option>
            <option>Goa</option>
            <option>Gujarat</option>
            <option>Haryana</option>
            <option>Himachal Pradesh</option>
            <option>Jharkhand</option>
            <option>Karnataka</option>
            <option>Kerala</option>
            <option>Madhya Pradesh</option>
            <option>Maharashtra</option>
            <option>Manipur</option>
            <option>Meghalaya</option>
            <option>Mizoram</option>
            <option>Nagaland</option>
            <option>Odisha</option>
            <option>Punjab</option>
            <option>Rajasthan</option>
            <option>Sikkim</option>
            <option>Tamilnadu</option>
            <option>Telangana</option>
            <option>Tripura</option>
            <option>Uttarkhand</option>
            <option>Uttarpradesh</option>
            <option>West Bengal</option>
          </select>
        </div>
        <div class="formfield">
          <label>District</label>
          <select [(ngModel)]="district" name="district">
            <option>Srikakulam</option>
            <option>Parvathipuram Manyam</option>
            <option>Vizianagaram</option>
            <option>Vishakapatnam</option>
            <option>Alluri Sitharama Raju</option>
            <option>Anakapalli</option>
            <option>Kakinada</option>
            <option>East Godavari</option>
            <option>Dr.B.R.Ambedkar konaseena</option>
            <option>Eluru</option>
            <option>West Godavari</option>
            <option>NTR<option>
            <option>Krishna</option>
            <option>Palnadu</option>
            <option>Guntur</option>
            <option>Bapatla</option>
            <option>Prakasam</option>
            <option>SripottiSriramulu Nellore</option>
            <option>Kurnool</option>
            <option>Nandhyal</option>
            <option>Ananthapuramu</option>
            <option>Sri Sathya Sai</option>
            <option>Kadapa</option>
            <option>Annamayya</option>
            <option>Tirupati</option>
            <option>Chittor</option>
          </select>
        </div>
        <button type="search" (click)="values()">Search</button>
      </div>
    </div>
  </section>
  <section class="container1">
    <div class="wrapper">
      <div class="box">
        <img src="assets/usericon.png">
        <div class="content">
          <h4>Hii Iam Venkata Ramulu</h4>
          <p><b>Rent:</b> 1200/Month</p>
          <p><b>Contact:</b> 9847630221</p>
          <b>Address:</b><address>1-51B,Sulturu Vijayawada</address>
        </div>
        <div class="userdetail">
          <img src="assets/usericon.png"><a href="#">User Details</a>
        </div>
      </div>
      <div class="box">
        <img src="assets/usericon.png">
        <div class="content">
          <h4>Hii Iam Venkata Ramulu</h4>
          <p><b>Rent:</b> 1200/Month</p>
          <p><b>Contact:</b> 9847630221</p>
          <b>Address:</b><address>1-51B,Sulturu Vijayawada</address>
        </div>
        <div class="userdetail">
          <img src="assets/usericon.png"><a href="#">User Details</a>
        </div>
      </div>
      <div class="box">
        <img src="assets/usericon.png">
        <div class="content">
          <h4>Hii Iam Venkata Ramulu</h4>
          <p><b>Rent:</b> 1200/Month</p>
          <p><b>Contact:</b> 9847630221</p>
          <b>Address:</b><address>1-51B,Sulturu Vijayawada</address>
        </div>
        <div class="userdetail">
          <img src="assets/usericon.png"><a href="#">User Details</a>
        </div>
      </div>
    </div>
  </section>
</body>
</html>